@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');
:root {
    --noto: 'Noto Sans', sans-serif;
}
.nav {
    display: flex;
    width: 100%;
    
    
    height: 50px;
    background-color: #222629;
   
    
    
}
.section1{
 width: 75%;
 display: flex;
 
}
.section2 {
    width: 25%;
    display: flex;
   overflow: hidden;
   
    
}
.search {
    width: 80%;
    padding: 5px;
    font-size: 2rem;
    border: none;
        /* border-top: 1px solid black;
        border-bottom: 1px solid black; */
}
.searchB {
    margin-left: 0px;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 20%;
    background-color: rgb(255, 195, 195);
    font-size: 2.5rem;
}

.section1 ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;

}
.section1 ul li  {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 ul li a {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 ul li a:hover {
  border-bottom: 3px solid var(--colo);
}