@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  

:root {
    --poppines: 'Poppins', sans-serif;
    --noto: 'Noto Sans', sans-serif;
}
#home {
    height: 63.9rem;
    background-color: #0f151a;
    width: 100%;
}