@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  

:root {
    --poppines: 'Poppins', sans-serif;
    --noto: 'Noto Sans', sans-serif;
}
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
}

html {
    font-size: 62.5%;
    font-family: var(--poppines);
    
}
.aboutm {
    width: 100%;
    height: 120rem;
    background-color: aliceblue;
}

.text {
    position: relative;
}
.ab {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    text-decoration: underline 2px;
       
}
.cell {
    /* border: 2px solid; */
}
.abr {
    display: grid;
    row-gap: 1px;
}
.abtext {
    font-size: 20px;
    max-width: 500px;
}